@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/gilroyextrabold.woff") format("woff"),
       url("/fonts/Gilroyextrabold.ttf") format("truetype");
}
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/gilroylight.woff") format("woff"),
       url("/fonts/Gilroylight.ttf") format("truetype");
}

body {
  font-family: 'Open Sans', Gilroy, Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: lighter;
}

h1,h2 {
  font-family: Gilroy;
  font-size: 47px;
  line-height: 56px;
  font-weight: 900;
  margin: 0;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: bolder;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
/*  For display with resolution 1280 px  */
  background: #000 url("/img/device-catalog.jpg") no-repeat 50% 0;
  background-size: 1440px auto;
  opacity: 0.7;
  
  margin: 0 auto;
  width: 1200px;
}

a {
  text-decoration: none;
  color: #000000;
}

img{
  max-width: 100%;
}

/*  Start header  */
.container{
  min-width: 1160px;
  margin: 0 20px;
  position: relative;
}

.main-header .container{
  margin-top: 40px;
  background-color: #ffe27f;
}

.logo {
  position: relative;
  top: -13px;
  margin-left: 5%;
  
  font-family: Gilroy;
  font-weight: 900;
  font-size: 48px;
  color: black;
}

.main-navigation {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 14px;
  
}

.main-navigation input {
  float: left;
  font-size: 15px;
  padding-left: 30px;
}

.main-navigation a {
  display: inline-block;
  margin-right: 3px;
  padding-left: 31px;  
}

.main-navigation .login {
  float: left;
  margin-left: 310px;
  padding-right: 15px;
  max-width: 184px;
  overflow: hidden;
  text-overflow: clip;
}
a.logout{
  padding-left: 0;  
}

.compare{
  float: right;
  padding-right: 30px;
}

.basket{
  float: right;
}

.main-menu {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 35px;
  padding-bottom: 33px;
  
  font-family: Gilroy;
  font-weight: 900;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.level{
  text-align: right;
  padding-left: 0;
}

.level>li {
  display: inline-block;
  width: 130px;
}

.level>li:first-child {
  float: left;
  width: 255px;
  text-align: left;
}

.level>li:first-child:hover .menu-catalog{
  display: inline-block;
}

.level>li:first-child:after {
  content: '+';
  position: absolute;
  padding-left: 10px;
  font-size: 38px;
  font-weight: 300;
  cursor: pointer;
}

.level>li:nth-child(3) {
  margin-left: 12px;
}
.level>li:last-child {
  margin-left: 91px;
}

.menu-catalog {
  position: absolute;
  display: none;
  width: 1140px;
  top: 170px;
  left: 0px;
  background-color: #ffe393;
  padding-left: 20px;
  padding-bottom: 40px;
  z-index: 10;
  
  font-family: 'Open Sans';
  font-size: 15px;
  text-transform: none;
  letter-spacing: normal;
}

.menu-catalog ul{
  display: inline-block;
  list-style: none;
  vertical-align: top;
}

/*  Only for Index.html  */
.marker{
  width: 100%;
  height: 77px;
}

.marker hr{
  width: 100px;
  height: 7px;
  margin-left: 599px;
  margin-top: 35px;
  background-color: #ffffff;
}
/* Start HEADER for catalog.html section */
.arrows{
  padding-left: 60px;
  padding-top: 29px;
  background-color: #ffffff;
}

.breadcrumbs ul{
  padding: 0;
}

.breadcrumbs li{
  display: inline-block;
  padding-right: 20px;
}

.breadcrumbs li:not(:last-child)::after{
  content: '>';
  font-weight: 900;
}

/* End HEADER for catalog.html section */
/*  End header  */


/*  Start main  */
.slide{
  margin-top: -115px;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}

.slide img{
  float: left;
  margin-left: 30px;
  
}

.slide-2, .slide-3{
  display: none;
}

.slide-description{
  padding-top: 80px;
  margin-left: 500px;
}

.number{
  position: absolute;
  right: 0px;
  width: 175px;
  
  
  font-family: Gilroy;
  font-size: 180px;
  font-weight: 900;
  line-height: 150px;
  color: #ffffff;
}

.slide-description p{
  padding-top: 4px;
  width: 480px;
  margin-bottom: 0;
}

.detail{
  display: inline-block;
  padding: 48px 45px;
  position: relative;
      
  font-family: Gilroy;
  font-weight: 900;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
/*  start color line under text  */
.detail:before{
  content: '';
  display: inline-block;
  width: 140px;
  height: 8px;
  top: 60px;
  right: 4px;
  z-index: -1;
  background-color: #ffc600;
  position: absolute;
}
.detail:after{
  content: '';
  display: inline-block;
  width: 140px;
  height: 8px;
  top: 60px;
  left: 4px;
  z-index: -1;
  background-color: #ffc600;
  position: absolute;
}
/*  end color line under text  */

.slide-description table{
  table-layout: fixed;
  width: 460px;
  text-align: left;
}

td{
  font-family: Gilroy;
  font-size: 36px;
  line-height: 58px;
}

td:nth-child(2){
  width: 140px;
}

th{
  font-family: 'Open Sans';
  font-size: 13px;
  line-height: 14px;
}

.slider-buttons{
  display: inline-block;
  position: absolute;
  right: 75px;
  bottom: 130px;
}
.slider-buttons input{
  margin: 0 8px;
}


/*  example of FLEX  */
.catalog-names{
  margin-top: 115px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.catalog-names a{
  display: inline-block;
  width: 160px;
}

.catalog-names div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #ffe27f;
  margin-bottom: 34px;
}

.catalog-names a:nth-child(2) div{
  align-items: flex-end;
}

.catalog-names span{
  display: inline-block;
  font-family: Gilroy;
  font-weight: 900;
  font-size: 18px;
  color: black;
  line-height: 21px;
  vertical-align: top;
}

.catalog-names a:nth-child(2) span{
  width: 120px;
}

.services-slider{
  margin-top: 185px;
  background-color: #e6e6e6;
  height: 287px;
}

.services-slider .container{
  position: relative;
  top: -100px;
  height: 320px;
}

.services-slider input{
  display: none;
}

.services-slider .slides{
  display: inline-block;
  border-right: 7px solid #000;
  min-width: 100px;
  width: 278px;
  padding-top: 80px;
  padding-bottom: 50px;
  margin-left: -1px;
}

.services-slider label{
  display: block;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 24px;
  position: relative;
  cursor: pointer;
  font-family: Gilroy;
  font-weight: 900;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

#btn-1:checked ~ div label[for="btn-1"],
#btn-2:checked ~ div label[for="btn-2"],
#btn-3:checked ~ div label[for="btn-3"] {
  color: #ffe27f;  
  background-color: #000000;
}

.service-item{
  display: inline-block;
  max-width: 455px;
  margin-left: 113px;
}

.delivery:before{
  content: '';
  display: inline-block;
  position: absolute;
  width: 140px;
  height: 170px;
  right: 64px;
  top: 84px;
  background-image: url(/img/delivery.png);
  background-repeat: no-repeat;
}

.service-item h2{
  padding-bottom: 13px;
}

.guarantee, .credit{
  display: none;
}

.logotypes{
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 65px;
}

.logotypes a{
  display: inline-block;
}

.info{
  display: inline-block;
  width: 41%;
  padding-right: 10%;
}

.info:before, .contacts:before{
  content: '';
  display: inline-block;
  width: 80px;
  height: 8px;
  background-color: #000000;
}

.info h2, .contacts h2{
  margin-top: 32px;
  margin-bottom: 39px;
}

.info p{
  margin-top: 30px;
}

.info ul{
  margin-left: 3px;
  padding: 0;
  margin-top: 66px;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 900;
}

.info li{
  line-height: 40px;
  list-style-type: circle;
  list-style-position: inside;
}

.contacts{
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

.contacts .map{
  display: inline-block;
  margin-top: 24px;
  margin-left: 3px;
}

.popup{
  display: none;
}
/* Start MAIN for catalog.html section */
main.catalog{
  margin-top: 45px;

  display: flex;  /*  !!!!!!!  */
  
  flex-wrap: wrap;
  justify-content: flex-start;
}

aside.filters{
  width: 348px;
  display: inline-block;
  vertical-align: top;
  background-color: #efefef;
}

.filters h2{
  text-align: right;
  padding-left: 20px;
  padding-right: 180px;
  padding-top: 7px;
  padding-bottom: 7px;
  
  background-color: #dbdbdb;
  font-family: Gilroy;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.form{
  margin-left: 78px;
  margin-right: 68px;
  padding-top: 42px;
}

.form h3{
  margin-top: 26px;
  margin-bottom: 0;
  padding: 10px 0;
  border-top: 2px solid #000000;
}

/*  Start Range filter  */
.range-filter {
  width: 100%;
}

.range-controls {
  position: relative;
  height: 21px;
  padding-top: 25px;
  padding-right: 0px;
  padding-left: 10px;
}

.range-controls .scale {
  height: 2px;
  background: #dcdcdc;
}

.range-controls .bar {
  width: 55%;
  height: 2px;
  background: #72ca00;
}

.range-controls .toggle {
  position: absolute;
  top: 18px;
  left: 0px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: 3px solid #000;
  border-radius: 50%;
  background: #ffffff;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
  margin-top: -15px;
}

.price-controls label {
  font-size: 14px;
  display: inline-block;
  width: 44%;
}

.price-controls input {
  font-family: Gilroy;
  font-size: 14px;
  width: 33px;
  color: #283136;
  border: none;
  background: #f1f1f1;
}
/*  End Range filter  */

.color,.bluetooth{
  padding-top: 5px;
  padding-bottom: 6px;
  text-transform: capitalize;
}

.color label,.bluetooth label{
  display: block;
  padding: 5px;
}

.color input{
  margin-right: 20px;
}

.bluetooth input{
  width: 20px;
  height: 20px;
  margin-right: 14px;
}

.catalog-item{
  width: 852px;
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
}

.sorting{
  width: 100%;
  display: inline-block;
  margin-right: 20px;
  align-self: flex-start;
  background-color: #ebebeb;
}

.sorting h2{
  display: inline-block;
  padding-left: 72px;
  padding-right: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  
  font-family: Gilroy;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sorting form{
  display: inline-block;
}

.sorting label{
  padding-right: 20px;
}

.sorting input{
  display: none;
}

.sorting input:checked + span{
  font-weight: 900;
}

.sorting .keys-updown{
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-top: 28px;
  font-size: 0;
}

.sorting .keys-updown a{
  display: inline-block;
  width: 20px;
  margin-left: 22px;
  background-image: url(/img/arrow_up.png);
  background-repeat: no-repeat;
}

.sorting .keys-updown a:last-child{
  background-image: url(/img/arrow_down.png);
}

.items{
  padding-top: 60px;
  padding-left: 30px;
  vertical-align: top;
}

.item{
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.catalog-item .item a{
  
}

.catalog-item .item img{
  display: block;
  padding-bottom: 33px;
}

.catalog-item .item a b{
  display: inline-block;
  vertical-align: top;
  width: 270px;
  font-family: Gilroy;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
}

.catalog-item .item a span{
  float: right;
  font-size: 16px;
  vertical-align: top;
  text-transform: lowercase;
}

.catalog-control{
  display: inline-block;
  align-self: flex-end;
  width: 750px;
  margin-left: 70px;
  margin-bottom: 38px;
  padding: 5px;
  text-align: center;
  
  background-color: #ebebeb;
  font-family: Gilroy;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.catalog-control ul{
  display: inline-block;
  padding-left: 8px;
  margin: 10px 29%;
}

.catalog-control li{
  display: inline-block;
  padding: 5px 9px;
}

/* Start MAIN for catalog.html section */
/*  End main  */

/*  Start footer  */

.main-footer{
  width: 100%;
  min-width: 1160px;

  text-align: center;
  background-color: #444444;
  margin-top: 34px;
  padding-top: 70px;
  color: #ffffff;
}

.footer-logo{
  position: relative;
  float: left;
  margin-bottom: 120px;
  text-align: left;
}

.footer-logo:after{
  content: '';
  position: absolute;
  top: 170px;
  width: 80px;
  height: 7px;
  background-color: #ffe27f;
}

.footer-logo a{
  display: inline-block;
  font-family: Gilroy;
  font-weight: 900;
  font-size: 48px;
  color: #ffe27f;
}

.address{
  margin-top: 20px;
  margin-bottom: 30px;
}

.footer-login{
  position: absolute;
  right: 0px;
  margin-top: -6px;
}

.footer-login:after{
  content: '';
  position: absolute;
  top: 160px;
  right: -12px;
  width: 40px;
  height: 40px;
  background-image: url(/img/icon_html.png);
  background-repeat: no-repeat;
}

.footer-login a{
  padding-left: 30px;
  margin-left: 32px;
  color: #ffffff;
}
.phone{
  text-align: right;
  margin-top: 35px;
  margin-bottom: 30px;
}

.footer-menu{
  display: inline-block;
  margin-left: -230px;
  margin-top: 48px;
  padding-bottom: 10px;
}

.footer-menu li{
  display: inline-block;  
}

.footer-menu li:nth-child(2){
  margin-left: 30px;
  margin-right: 40px;
}

.footer-menu li a{
  color: #ffffff;
  font-family: Gilroy;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.footer-social{
  margin: 50px 0;
  padding-left: 14px;
}

.footer-social a{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-image: url(/img/icon_f.png);
  font-size: 0;
}

.footer-social .social-btn-inst{
  background-image: url(/img/icon_inst.png);
}

.footer-social .social-btn-twit{
  background-image: url(/img/icon_twit.png)
}






/*  End footer  */
