@font-face {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff"),       url("../fonts/opensanslight.ttf") format("truetype");
}
@font-face {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"),       url("../fonts/opensans.ttf") format("truetype");
}

@font-face {
  font-family: Gilroy, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff"),       url("../fonts/Gilroyextrabold.ttf") format("truetype");
}
@font-face {
  font-family: Gilroy, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff"),
  url("../fonts/Gilroylight.ttf") format("truetype");
}

body {
  background: #000 url("../img/device-index.jpg") no-repeat 50% 0px;
  background-size: 1440px auto;
  opacity: 0.7;
  
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 1200px;
  background-color: #ffffff;
  font-family: 'Open Sans', Gilroy, Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: lighter;
}

h1,h2 {
  font-family: Gilroy, Arial, sans-serif; font-size: 47px;
  line-height: 56px;
  font-weight: 900;
  margin: 0;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: bolder;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: #000000;
}

img{
  max-width: 100%;
}

/*  Start header  */
.container{
  width: 1160px;
  margin: 0 20px;
  position: relative;
}

.main-header .container{
  margin-top: 40px;
  background-color: #ffe27f;
}

.main-header a:hover{
  opacity: 0.6;
}
.main-header a:active{
  opacity: 0.3;
}

.logo {
  position: relative;
  top: -13px;
  margin-left: 5%;
  
  font-family: Gilroy, Arial, sans-serif; font-weight: 900;
  font-size: 48px;
  color: black;
}

.main-navigation {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 14px;
}

.main-navigation input {
  float: left;
  font-size: 15px;
  padding-left: 30px;
  border: none;
  background-color: #ffe27f;
  background-image: url(../img/icon_search.png);
  background-repeat: no-repeat;
  background-position: 5px 6px;
  color: #000000;
  opacity: 0.3;
}
.main-navigation input:hover {
  opacity: 0.6;
}
.main-navigation input:focus {
  opacity: 1;
}

.main-navigation .search-btn {
  display: none;
  position: absolute;
  left: 280px;
  top: 25px;
  width: 80px;
  height: 40px;
  background-image: none;
  border: 2px solid black;
  padding-left: 0;
}
.main-navigation .search-btn:hover {
  background-color: black;
  color: white;
}
.main-navigation .search-btn:active {
  color: rgba(0,0,0,0.5);
  display: block;
}

.main-navigation input:focus ~ .search-btn {
  display: block;
}

.main-navigation a {
  display: inline-block;
  margin-right: 3px;
  padding-left: 31px;
  background-repeat: no-repeat;
  background-position: 5px center;
}

.main-navigation .login {
  float: left;
  margin-left: 312px;
  padding-right: 15px;
  max-width: 184px;
  overflow: hidden;
  text-overflow: clip;
  background-image: url(../img/icon_user.png);
}
a.logout{
  padding-left: 0;  
}

.compare{
  float: right;
  padding-right: 30px;
  background-image: url(../img/icon_compare.png);
}

.basket{
  float: right;
  background-image: url(../img/icon_basket.png);
}

.main-menu {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 35px;
  padding-bottom: 33px;
  
  font-family: Gilroy, Arial, sans-serif; font-weight: 900;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.level{
  text-align: right;
  padding-left: 0;
}

.level>li {
  display: inline-block;
  width: 130px;
}

.level>li:first-child {
  float: left;
  width: 255px;
  text-align: left;
}

.level>li:first-child:hover .menu-catalog{
  display: inline-block;
}

.menu-catalog:hover{
  display: inline-block;
}

.level>li:first-child:after {
  content: '+';
  position: absolute;
  padding-left: 10px;
  font-size: 38px;
  font-weight: 300;
  cursor: pointer;
}

.level>li:nth-child(3) {
  margin-left: 12px;
}
.level>li:last-child {
  margin-left: 91px;
}

.menu-catalog {
  position: absolute;
  display: none;
  width: 1140px;
  top: 130px;
  left: 0px;
  background-color: #ffe393;
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 40px;
  z-index: 10;
  
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  text-transform: none;
  letter-spacing: normal;
}

.menu-catalog ul{
  display: inline-block;
  list-style: none;
  vertical-align: top;
}

/*  Only for Index.html  */
.marker{
  width: 100%;
  height: 77px;
}

.marker hr{
  width: 100px;
  height: 7px;
  margin-left: 599px;
  margin-top: 35px;
  background-color: #ffffff;
}
/* Start HEADER for catalog.html section */
.arrows{
  padding-left: 60px;
  padding-top: 29px;
  background-color: #ffffff;
}

.breadcrumbs ul{
  padding: 0;
}

.breadcrumbs li{
  display: inline-block;
  padding-right: 20px;
}

.breadcrumbs li:not(:last-child)::after{
  content: '>';
  font-weight: 900;
}

/* End HEADER for catalog.html section */
/*  End header  */


/*  Start main  */

main.main{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slide-1 img{
  padding-left: 90px;
  margin-top: -115px;
  position: relative;
}

.slide-img{
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 600px;
}

.slide-2, .slide-3{
  display: none;
}

.slide-description{
  display: inline-block;
  vertical-align: top;
  margin-top: -35px;
}

.number{
  position: absolute;
  right: 55px;
  top: -110px;
  width: 175px;
  
  
  font-family: Gilroy, Arial, sans-serif; font-size: 180px;
  font-weight: 900;
  line-height: 150px;
  color: #ffffff;
}

.slide-description p{
  padding-top: 4px;
  width: 480px;
  margin-bottom: 0;
}

.btn{
  display: inline-block;
  padding: 0 42px;
  margin: 42px 0;
  position: relative;
  border: none;
  background-color: transparent;
  line-height: 40px;
  font-family: Gilroy, Arial, sans-serif; font-weight: 900;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  z-index: 1;
}
/*  start color line under text  */
.btn:before{
  content: '';
  position: absolute;
  display: inline-block;
  height: 8px;
  top: 16px;
  right: 4px;
  left: 4px;
  z-index: -1;
  background-color: #ffc600;
}
.btn:hover{
  background-color: #ffc600;
}
.btn:active{
  color: rgba(0, 0, 0, 0.3);
}

.slide-description .btn{
}

/*  end color line under text  */

.slide-description table{
  table-layout: fixed;
  width: 460px;
  text-align: left;
}

td{
  font-family: Gilroy, Arial, sans-serif; font-size: 36px;
  line-height: 58px;
}

td:nth-child(2){
  width: 140px;
}

th{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 14px;
}

.slider-buttons{
  display: inline-block;
  position: relative;
  left: 390px;
  bottom: 160px;
}
.slider-buttons input{
  margin: 0 8px;
}


/*  example of FLEX  */
.catalog-names{
  margin-top: 85px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.catalog-names a{
  display: inline-block;
  width: 160px;
}

.catalog-names div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #ffe27f;
  margin-bottom: 36px;
}
.catalog-names div:hover{
  background-color: #ffc600;
}
.catalog-names div:active img{
  opacity: 0.3;
}

.catalog-names a:nth-child(2) div{
  align-items: flex-end;
}

.catalog-names span{
  display: inline-block;
  font-family: Gilroy, Arial, sans-serif; font-weight: 900;
  font-size: 18px;
  color: black;
  line-height: 21px;
  vertical-align: top;
}

.catalog-names a:nth-child(2) span{
  width: 120px;
}

.services-slider{
  width: 100%;
  margin-top: 185px;
  background-color: #e6e6e6;
  height: 287px;
}

.services-slider .container{
  margin: 0 auto;
  position: relative;
  top: -100px;
  height: 320px;
}

.services-slider input{
  display: none;
}

.services-slider .slides{
  display: inline-block;
  border-right: 7px solid #000;
  min-width: 100px;
  width: 278px;
  padding-top: 80px;
  padding-bottom: 50px;
  margin-left: -1px;
}

.services-slider label{
  display: block;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 24px;
  position: relative;
  cursor: pointer;
  font-family: Gilroy, Arial, sans-serif; font-weight: 900;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

#btn-1:checked ~ div label[for="btn-1"],
#btn-2:checked ~ div label[for="btn-2"],
#btn-3:checked ~ div label[for="btn-3"] {
  color: #ffe27f;  
  background-color: #000000;
}

.service-item{
  display: inline-block;
  max-width: 455px;
  margin-left: 113px;
}

.delivery:before{
  content: '';
  display: inline-block;
  position: absolute;
  width: 140px;
  height: 170px;
  right: 64px;
  top: 84px;
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
}

.service-item h2{
  padding-bottom: 13px;
}

.guarantee, .credit{
  display: none;
}

.logotypes{
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 65px;
}

.logotypes a{
  display: inline-block;
}

.logotypes img{
  filter: grayscale(1);
}
.logotypes img:hover{
  filter: grayscale(0);
}

.info{
  display: inline-block;
  width: 41%;
  padding-right: 118px;
}

.info:before, .contacts:before{
  content: '';
  display: inline-block;
  width: 80px;
  height: 8px;
  background-color: #000000;
}

.info h2, .contacts h2{
  margin-top: 32px;
  margin-bottom: 39px;
}

.info p{
  margin-top: 30px;
}

.info ul{
  margin-left: 3px;
  padding: 0;
  margin-top: 66px;
  font-family: Gilroy, Arial, sans-serif; font-size: 16px;
  font-weight: 900;
}

.info li{
  line-height: 40px;
  list-style-type: circle;
  list-style-position: inside;
}

.info .btn{
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.contacts{
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

.contacts .map{
  display: inline-block;
  margin-top: 24px;
  margin-left: 3px;
  margin-bottom: 20px;
}


.popup{
  display: none;
  position: fixed;
  width: 960px;
  height: 559px;
  z-index: 20;
  top: 15%;
  left: 50%;
  margin-left: -480px;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.5);
}

.write-us{
  background-color: white;
  width: 760px;
  height: 359px;
  padding: 100px;
  text-align: left;
  font-size: 0;
}

.write-us label{
  width: 360px;
  display: inline-block;
  font-family: Gilroy, Arial, sans-serif; font-size: 18px;
  font-weight: 900;
}

.write-us label:first-child{
  margin-right: 40px;
}

.write-us p{
  margin-top: 40px;
  font-family: Gilroy, Arial, sans-serif; font-size: 18px;
  font-weight: 900;
}

.write-us input, .write-us textarea{
  padding-left: 20px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
  background-color: #f3f3f3;
  color: black;
  border: none;
  overflow: hidden;
}

.write-us input{
  width: 340px;
}

.write-us textarea{
  display: block;
  width: 740px;
  height: 155px;
  color: rgba(0, 0, 0, 0.4);
}

.write-us .btn{
  z-index: 1;
}


.big-map{
  dsplay: none;
}
.big-map iframe {
  background-image: url(../img/big_map.jpg);
  background-size: contain;
}

.btn-close {
  position: absolute;
  display: block;
  width: 55px;
  height: 55px;
  top: 22px;
  right: 22px;
  border-radius: 50%;
  background-color: #ffc600;
  border: 1px solid #ffc600;
  opacity: 0.5;
  font-size: 0;
}

.btn-close:before, .btn-close:after {
  content: '';
  position: absolute;
  width: 34px;
  height: 3px;
  left: 10px;
  top: 25px;
  background-color: white;
}
.btn-close:before{
  transform: rotate(45deg)
}
.btn-close:after{
  transform: rotate(-45deg)
}

.btn-close:hover {
  opacity: 1;
}
.btn-close:active::before, .btn-close:active::after{
  opacity: 0.4;
}


/* Start MAIN for catalog.html section */
main.catalog{
  width: 100%;
  margin-top: 30px;
  display: flex;
}

.inner-container{
  flex-grow: 1;
  margin-bottom: -5px;
  padding-left: 20px;
  background-image: linear-gradient(to bottom, #dbdbdb 70px, #f0f0f0 70px);
  text-align: right;
}

.inner-container:last-child{
  padding-left: 0;
  padding-right: 20px;
  background-image: linear-gradient(to bottom, #ebebeb 70px, #ffffff 70px);
  text-align: left;
}

aside.filters{
  margin-left: auto;
  width: 348px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.filters h2{
  text-align: right;
  padding-left: 20px;
  padding-right: 180px;
  padding-top: 7px;
  padding-bottom: 7px;
  
  font-family: Gilroy, Arial, sans-serif; font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.form{
  margin-left: 78px;
  margin-right: 68px;
  padding-top: 42px;
}

.form h3{
  margin-top: 26px;
  margin-bottom: 0;
  padding: 10px 0;
  border-top: 2px solid #000000;
}

/*  Start Range filter  */
.range-filter {
  width: 100%;
}

.range-controls {
  position: relative;
  height: 21px;
  padding-top: 25px;
  padding-right: 0px;
  padding-left: 10px;
}

.range-controls .scale {
  height: 2px;
  background: #dcdcdc;
}

.range-controls .bar {
  width: 55%;
  height: 2px;
  background: #72ca00;
}

.range-controls .toggle {
  position: absolute;
  top: 18px;
  left: 0px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: 3px solid #000;
  border-radius: 50%;
  background: #ffffff;
}

.range-controls .toggle:active {
  background-color: #63b000;
  border: 3px solid #fff;
  box-shadow: 0 2px 5px 1px #000;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
  margin-top: -15px;
}

.price-controls label {
  font-size: 14px;
  display: inline-block;
  width: 44%;
}

.price-controls input {
  font-family: Gilroy, Arial, sans-serif; font-size: 14px;
  width: 33px;
  color: #283136;
  border: none;
  background: #f1f1f1;
}
/*  End Range filter  */

.color,.bluetooth{
  padding-top: 5px;
  padding-bottom: 4px;
  text-transform: capitalize;
}

.color label,.bluetooth label{
  display: block;
  padding: 5px;
}

.color input{
  margin-right: 11px;
  width: 22px;
  height: 22px;
}

.color input:hover{
  background-color: #c5c5c5;
}

.bluetooth input{
  width: 20px;
  height: 20px;
  margin-right: 14px;
}

.catalog-item{
  width: 852px;
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  margin-right: auto;
}

.filters a.btn{
  margin-top: 27px;
  border: 0 solid rgba( 0, 0, 0, 0);
  outline: none;
  background-image: none;
}


.sorting{
  width: 100%;
  display: inline-block;
  margin-right: auto;
  align-self: flex-start;
}

.sorting h2{
  display: inline-block;
  padding-left: 72px;
  padding-right: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  
  font-family: Gilroy, Arial, sans-serif; font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sorting form{
  display: inline-block;
}

.sorting label{
  padding-right: 20px;
  cursor: pointer;
}

.sorting input{
  display: none;
}

.sorting input:checked + span{
  font-weight: 900;
}

.sorting .keys-updown{
  display: inline-block;
  vertical-align: top;
  margin-top: 28px;
  margin-left: 170px;
  font-size: 0;
}

.sorting .keys-updown a{
  display: inline-block;
  width: 20px;
  margin-left: 22px;
  background-image: url(../img/arrow_up.png);
  background-repeat: no-repeat;
}

.sorting .keys-updown a:last-child{
  background-image: url(../img/arrow_down.png);
}

.items{
  padding-top: 60px;
  padding-left: 30px;
  vertical-align: top;
}

.item{
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.item:hover .item-hover{
  display: block;
}

.item .item-hover{
  display: none;
  position: absolute;
  width: 360px;
  height: 380px;
  top: 0;
  left: 0;
  line-height: 380px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(239, 239, 239, 0.7);
}

.item .item-hover .to-basket{
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 170px;
  left: 80px;
  width: 200px;
  height: 40px;
  background-image: linear-gradient(to bottom, rgba(255,255,255, 0) 16px, #ffc600 16px, #ffc600 24px, rgba(255,255,255, 0) 24px);
  color: black;
  font-family: Gilroy, Arial, sans-serif; font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 40px;
}
.item .item-hover .to-basket:hover{
  background-color: #ffc600;
}
.item .item-hover .to-basket:active{
  color: rgba( 0, 0, 0, 0.3);
}

.item .to-compare{
  display: inline-block;
  position: absolute;
  top: 220px;
  left: 110px;
  line-height: 20px;
  color: rgba( 0, 0, 0, 0.5);
  font-size: 13px;
}
.item .to-compare:hover{
  color: rgba( 0, 0, 0, 1);
}
.item .to-compare:active{
  color: rgba( 0, 0, 0, 0.2);
}

.catalog-item .item img{
  display: block;
  padding-bottom: 33px;
}

.catalog-item .item b{
  display: inline-block;
  vertical-align: top;
  width: 270px;
  font-family: Gilroy, Arial, sans-serif; font-weight: 900;
  font-size: 18px;
  line-height: 21px;
}

.catalog-item .item span{
  float: right;
  font-size: 16px;
  vertical-align: top;
  text-transform: lowercase;
}

.catalog-control{
  display: inline-block;
  align-self: flex-end;
  width: 760px;
  margin-left: 72px;
  margin-bottom: 38px;
  line-height: 70px;
  text-align: center;
  
  background-color: #ebebeb;
  font-family: Gilroy, Arial, sans-serif; font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.catalog-control a{
  display: inline-block;
}

.catalog-control>a:first-child{
  float: left;
}

.catalog-control>a:last-child{
  float: right;
}

.catalog-control>a{
  padding: 0 30px;
  
}
.catalog-control>a:hover{
  background-color: #d9d9d9;
}
.catalog-control>a:active{
  color: rgba(0, 0, 0, 0.3);
}

.catalog-control ul{
  display: inline-block;
  padding-left: 0;
  margin: 0;
}

.catalog-control li{
  display: inline-block;
  padding-left: 10px;
  padding-right: 7px;
}

.catalog-control li:not(:first-child) a{
  color: rgba(0, 0, 0, 0.3);
}

.catalog-control li a:hover{
  color: rgba(0, 0, 0, 0.6);
}
.catalog-control li a:active{
  color: rgba(0, 0, 0, 1);
}

/* Start MAIN for catalog.html section */
/*  End main  */

/*  Start footer  */


.main-footer {
  width: 100%;
  background-color: #444444;
  margin-top: 40px;
}

.main-footer a{
  opacity: 0.7;
}

.main-footer a:hover{
  opacity: 1;
}

.main-footer a:active{
  opacity: 0.3;
}

.main-footer .container{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
  padding-top: 70px;
  color: #ffffff;
}

.footer-logo{
  position: relative;
  float: left;
  margin-bottom: 120px;
  text-align: left;
}

.footer-logo:after{
  content: '';
  position: absolute;
  top: 170px;
  width: 80px;
  height: 7px;
  background-color: #ffe27f;
}

.footer-logo a{
  display: inline-block;
  margin-top: -5px;
  margin-left: -3px;
  font-family: Gilroy, Arial, sans-serif; font-weight: 900;
  font-size: 48px;
  color: #ffe27f;
}

.footer-logo a:hover{
  color: rgba( 255, 198, 0, 1);
}

.footer-logo a:active{
  color: rgba( 255, 198, 0, 0.3);
}

.address{
  margin-top: 25px;
  margin-bottom: 30px;
}

.footer-login{
  position: absolute;
  right: 0px;
  margin-top: -6px;
  text-align: right;
}

.icon-academy{
  display: inline-block;
  position: relative;
  width: 20px;
  height: 40px;
  top: 32px;
  left: 19px;
  background-image: url(../img/icon_html.png);
  background-repeat: no-repeat;  
}

.icon-academy:hover{
  background-image: url(../img/icon_html_hover.png)
}

.footer-login a{
  padding-left: 30px;
  margin-left: 32px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: 5px center;
}

.footer-login a:nth-child(1){
  background-image: url(../img/icon_user_foot.png)
}
.footer-login a:nth-child(1):hover{
  background-image: url(../img/icon_user_foot_hov.png)
}

.footer-login a:nth-child(2){
  background-image: url(../img/icon_compare_foot.png)
}
.footer-login a:nth-child(2):hover{
  background-image: url(../img/icon_compare_foot_hov.png)
}

.footer-login a:nth-child(3){
  background-image: url(../img/icon_basket_foot.png)
}
.footer-login a:nth-child(3):hover{
  background-image: url(../img/icon_basket_foot_hov.png)
}

.phone{
  text-align: right;
  margin-top: 35px;
  margin-bottom: 30px;
}

.footer-menu{
  display: inline-block;
  margin-left: -230px;
  margin-top: 48px;
  padding-bottom: 10px;
}

.footer-menu li{
  display: inline-block;  
}

.footer-menu li:nth-child(2){
  margin-left: 30px;
  margin-right: 40px;
}

.footer-menu li a{
  color: #ffffff;
  font-family: Gilroy, Arial, sans-serif; font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  opacity: 1;
}

.footer-menu li a:hover{
  opacity: 0.6;
}
.footer-menu li a:active{
  opacity: 0.3;
}

.footer-social{
  margin: 50px 0;
  padding-left: 14px;
}

.footer-social a{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-image: url(../img/icon_f.png);
  font-size: 0;
}

.footer-social .social-btn-inst{
  background-image: url(../img/icon_inst.png);
}

.footer-social .social-btn-twit{
  background-image: url(../img/icon_twit.png)
}
/*  End footer  */
